<div>
    <app-header></app-header>
    <div style="margin-top: 10%; margin-left: 30%;">
        <img src="/assets/download.png" style="margin-left: 5%;"/>
        <mat-card style="width: 50%;">
            <mat-card-content>
                <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="example-form">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>User Name</mat-label>
                        <input matInput type="text" [(ngModel)]="name" name="name" required />
                    </mat-form-field>
                    <div style="margin-left: 5%;">
                        <button mat-raised-button color="primary" type="submit"
                            [disabled]="!loginForm.valid" style="background-color: #3f51b5; height: 50px; width: 45%; border-radius: 10px; border: none; color: white;">Continue</button> &nbsp;&nbsp; 
                        <button mat-raised-button color="warn"
                        style="background-color: #3f51b5; height: 50px; width: 45%; border-radius: 10px; border: none; color: white;"
                        (click)="onCancel()">Cancel</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>