.searchButton {
    height: 40px;
    width: 20vh;
    background-color: #3f51b5;
    border: none;
    color: white;
    font-size: medium;
}

.counter {
    margin-left: 40px;
    font-size: large;
    font-weight: bold;
}

.table {
    margin: 30px 20px 0px 20px;
}

.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 4px solid #ccc;
    border-top-color: #3f51b5;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}